

.nav-links a:first-child {
    font-weight: 500;
    color: var(--text-color);
}

.nav-links a:first-child:hover {
    font-weight: 600;
    color: var(--link-color);
    transition: color 0.3s ease;
}


.nav-links a:last-child {
    font-weight: 600;
    color: var(--link-color);
}

/* contact section style */

#contact {
    padding: 2.8rem 1.8rem;
    background-color: var(--fill-color);
    width: 100%;   
}

.contact-section{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}


.contact-cards{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    margin-top: 2rem;
}


h1 {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 800;
    margin-bottom: 0.6rem;
}

p {
    color: var(--text-color);
    margin-bottom: 1rem;
    font-weight: 300;
}



.card {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 300px;
    text-align: left;
}

.icon {
    background-color: #f0f4f8;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.card  img {
    width: 1rem;
    height: 1rem;
    margin-bottom: 0;
}

.icon img{
    width: 2rem;
    height: 2.2rem;
}



.card h3 {
    font-size: 1.2rem;
    color: var(--text-color);
    margin-bottom: 10px;
}

.card p {
    color: var(--light-black);
    font-size: 14px;
    margin-bottom: 15px;
}

.card a {
    color: #0c2c4d;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}

.card a:hover {
    text-decoration: underline;
}


.card span img{
    display: inline-block;
    vertical-align: middle;
}



/* --------------   contact  form style -------------------------*/

.contact-form {
    text-align: center;
    width: 90%;
    max-width: 800px;
    padding: 4rem 3rem;
    margin: 0 auto;
}


.contact-form p{
    font-weight: 500;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: var(--light-green);
    border-color: var(--light-green);
}

.input-group {
    display: flex;
    gap: 15px;
    width: 100%;
}

.input-field {
    flex: 1;
    position: relative;
    font-size: 1rem;
    margin-bottom: 1rem;
}


.input-field img{
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    border: var(--light-green);
    width: 1.4rem;
    height: 2rem;
}

.input-field input {
    width: 100%;
    padding: 0.7rem 3rem;
    border: 1px solid var(--light-green);
    border-radius: 4px;
    outline: none;
    border-radius: 8px;
}

.input-field input::placeholder, textarea::placeholder {
    color: var(--light-green);
}

textarea {
    width: 100%;
    padding: 0.7rem 1rem;
    border: 1px solid var(--light-green);
    border-radius: 8px;
    outline: none;
    font-size: 0.8rem;
}




textarea {
    resize: none;
}

.checkbox-area {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: space-between;
    margin-top: 10px;
    
}

.checkbox-area a {
    color: var(--link-color);
    text-decoration: none;
    font-weight: bold;
}

input[type="checkbox"] {
    appearance: none; 
    padding: 1rem;
    width: 2rem; 
    height: 1.2rem; 
    border-radius: 50%; 
    border: 1px solid var(--info-hightlight); 
    background-color: var(--fill-color); 
    position: relative;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}


input[type="checkbox"]:checked {
    background-color: var(--light); 
    border-color: var(--light) 
}

input[type="checkbox"]:checked::after {
    content: "";
    position: absolute;
    top: 6px;
    left: 10px;
    width: 5px;
    height: 10px;
    border: solid var(--link-color);
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}





.submit-btn {
    background-color: var(--link-color);
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 12px 40px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #041723;
}




/* media query */

@media (max-width: 768px) {
    .contact-cards {
        flex-direction: column;
        gap: 1.3rem;
    }

    .card {
        width: 100%;
    }

    h1{
        font-size: 2rem;
    }
    #contact{
        padding: 1rem 0;
    }

    .contact-section {
        width: 100%;
       
    }


    .input-group {
        flex-direction: column;
        gap: 10px;
    }

    .contact-form {
        padding: 20px;
    }
    .checkbox-area{
        flex-direction: column;
        width: 100%;
    }

    .checkbox-text{
        width: 100%;
    }
    .submit-btn{
        width: 100%;
    }
}
